# === MISC FILES ===
*.class
*.log
*.pyc
*.swp
*.apk
*.jks
*.keystore
*.iml
*.map.json
.DS_Store
.history
.svn/
.atom/
.vscode/
.idea/
buildlog/
migrate_working_dir/

# === FLUTTER / DART ===
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
**/doc/api/
**/ios/Flutter/.last_build_id

# === ANDROID ===
android/.gradle/
android/.idea/
android/local.properties
android/app/build/
android/app/.cxx/
android/captures/
android/app/debug
android/app/profile
android/app/release

# === OBSCURE / SYMBOL FILES ===
app.*.symbols
app.*.map.json

# === INTELLIJ / ANDROID STUDIO ===
*.ipr
*.iws
.idea/
